:root {
    --pink: rgb(241, 19, 126);
    --white: #ffffff;
    --indigo: #2f0051;
  }

body{
    margin: 0 auto;
    width: 70vw;
    background-image: linear-gradient(to top, #b8d2f0 0%, #e7f0fd 100%);
}

.container{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    height: 100vh;
    width: 85vw;
}

.textContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 4em;
}

.imageContainer{
    margin-top: 1em;
    height: 12em;
    width: 20em;
    background-image: url(./white-rabbit.jpeg);
    background-repeat: no-repeat;
}

.object{
    border-radius: 50%;
    height: 12em;
    width: 12em;
}

#circle1{
    background-color: blueviolet;
    display: none;
    position: relative; 
    color: #2f0051;
}

#reaction{
    color: var(--indigo);
}